<!DOCTYPE html>
<html>
	<head>
		<title>YMAK - BLOG</title>

		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="ymark">
		<meta name="keywords" content=""/>
		<meta name="description" content=""/>
		<link rel="stylesheet" href="/static/m/css/ymark.base.css"/>
		<link rel="stylesheet" href="/static/m/css/mcourse.edit.content.css"/>
		<link rel="shortcut icon" href="/static/img/favicon.ico"/>
		<link rel="apple-touch-icon" href="/static/img/favicon.ico"/>
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="g-hd">
			<a href="javascript:CW.toggleCatalog();" class="btn ionic ion-navicon">&nbsp;&nbsp;目录</a><a href="#" class="btn ionic ion-checkmark-round">&nbsp;&nbsp;快速保存</a><a href="#" class="btn ionic ion-upload">&nbsp;&nbsp;完整保存</a>
		</div>
		<div class="g-sd">
			<div id="catalogTree">
				2222
			</div>
		    <!-- <button type="button" class="u-btn" onclick="test(1);">editor</button> -->
		    <!-- <button type="button" class="u-btn" onclick="test(2);">mind</button> -->
		</div>
		<div class="g-mn" id="panelEditor">
		    this is mind
		</div>
		<div class="g-mn" id="panelMind">
		    <iframe scrolling="auto" frameborder="0" allowtransparency="true" id="iframeMind" src="http://nec.netease.com/library/category/#skill" frameborder="0" style="height: 100%;width:100%;"></iframe>
		</div>
		<div class="g-ft">
		    
		</div>
		<script src="/static/js/sea.js"></script>
		<script src="/static/js/pace.min.js"></script>
		<script src="/static/m/js/mcourse.edit.content.js"></script>
	</body>
</html>
