<!DOCTYPE HTML>
<html>
	<head>
		<title>易马克 - {{ controller.model.name }}</title>
		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="ymark">
		<link rel="stylesheet" type="text/css" href="{{controller.STATICURL}}/static/css/pace.css">
		<link rel="stylesheet" type="text/css" href="{{controller.STATICURL}}/static/course/css/detail.css">
		<!-- Favicons -->
		<link rel="icon" href="{{controller.STATICURL}}/static/img/favicon.ico">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<script type="text/javascript">var BASEURL='{{controller.STATICURL}}';</script>
		<div class="g-hd">
    		<div class="title" style="padding-left:10px;">{{ controller.model.name }}</div>
		</div>
		<div class="g-sd">
			<div id="catalogtree"></div>
		</div>
		<div class="g-mn">
			<h2 class="u-tt u-tt-xl" id="info_title"></h2>
			<div id="divFrame">
		    	<iframe scrolling="auto" allowtransparency="true" id="iframeMind" style="width:100%;height:100%;" frameborder="0"></iframe>
		    </div>
		    <div id="divcontent" class="think-editor-content"></div>
		    
		</div>
		<div class="g-ft">
		    Copyright © 2016 YMARK. All Rights Reserved.
		</div>
		<script type="text/javascript">
	    	var courseuid = "{{ controller.cuid }}";
	    </script>
		<script type="text/javascript" src="{{controller.STATICURL}}/static/js/pace.min.js"></script>
		<script src="{{controller.STATICURL}}/static/js/sea.js"></script>
	    <script src="{{controller.STATICURL}}/static/course/js/detail.js"></script>
	</body>
</html>