html, body {margin:0px;height:100%;overflow: hidden;font-size: 14px;}
.wangEditor-menu-container{position:fixed;z-index: 99;}
.wangEditor-container{border: 1px solid #EDEDED;height: 100%;}
.wangEditor-txt{position: absolute; top: 32px; height: 100%; z-index: 9;}
.wangEditor-container .wangEditor-txt{position:absolute;top:32px;height:100%;z-index:9;left:230px;margin-top:0px;}
.catalog-tree{z-index: 2;width:230px;height:100%;position:fixed;border-right:1px solid #F0F0F0;top:32px;padding-top: 5px;font-size:12px;font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.vakata-context, .vakata-context ul{z-index:2222;}
.jstree-themeicon.jstree-themeicon-custom{color:#5CAC6F;}
#divEditor,#divCatalogForm{display: none;}
#divCatalogForm{padding:2em;}
.vakata-context, .vakata-context ul{padding: 0px!important;}
.vakata-context li>a{font-size: 12px;}