.navbar.navbar-inverse{position:fixed;width: 100%;top: 0px;z-index: 999;}
#msg_error{position: fixed;display: block;text-align: center;width: 100%;z-index: 99;margin-top: -20px;display: none;}
.body-content{margin-top: 80px;}
.modal-content .modal-body{padding-top: 10px;}
.divcoverpics{padding-top: 10px;}
.divcoverpics img{}