/* 全屏自适应布局  */
html,body{width:100%;height:100%;overflow:hidden;margin:0;background: #F3F3F3;}
html{_height:auto;_padding:100px 0 50px;}
/* 滚动条 */
* ::-webkit-scrollbar{height:10px;width:7px;background:rgba(0,0,0,.1)}
* ::-webkit-scrollbar:hover{background:rgba(0,0,0,.2)}
* ::-webkit-scrollbar-thumb{background:rgba(0,0,0,.3);-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;border-radius:6px}
* ::-webkit-scrollbar-thumb:hover{-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);-moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);-ms-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);-o-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);background-color:rgba(0,0,0,.4)}

.pace .pace-progress{background: #DFDDDD;position: fixed;z-index: 2000;top: 0;left: 0;height: 1px;transition: width 1s;}
.pace-inactive{display: none;}

.g-hd ,.g-sd,.g-mn,.g-ft{position:absolute;left:0;}
.g-hd{top:0px;background-color: #fff;height:31px;z-index:100;box-shadow: 0 2px 0 0 rgba(0,0,0,0.02);overflow:hidden;border-bottom: 1px solid #E3E3E3;}
.g-ft{width:100%;}
.g-sd,.g-mn{top:0px;bottom:0px;_height:100%;overflow:auto;}
.g-hd,.g-sd{width:249px;border-right:1px solid #E3E3E3;}
.g-mn{background:white;_position:relative;left:250px;right:0;_top:0;_left:0;_margin-left:250px;overflow: hidden;z-index:99;-webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out;}
.g-ft{bottom:0;height:0px;}
.g-sd{z-index:2;}
.g-right{right: 0px; left: inherit; width: auto; background: initial; border: 0px;}
.g-hd.g-right .btn{float:right;}
.g-hd.g-right .btn:hover{color:black;background:none;}
#panelEditor{z-index:-1;visibility: hidden;background-color: rgb(252, 252, 251);}
#catalogTree{margin-top:35px;}
#catalogTree.jstree-default .jstree-icon:empty{font-size: 16px; color: #3D813D;}
#catalog_remark{height:70px;}

.g-dialog{display: none;}
.g-hd .btn{cursor: pointer; word-wrap: normal; white-space: nowrap;display: inline-block;color: gray;border-right:1px solid #E6E6E6;height:30px;line-height: 30px;box-shadow: initial;box-sizing: content-box;padding: 0 12px;font-size: 12px;text-align: center;vertical-align: middle;}
.g-hd .btn:last-child{border-right:0px;}
.g-hd .btn:hover ,.g-hd .btn:focus{background:white;color:black;}

/* 通用自定义按钮-默认蓝色 */
.u-btn{display:inline-block;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;padding:0 12px;height:28px;line-height:28px;border:1px solid #2d88bf;border-radius:5px;font-size:12px;letter-spacing:1px;text-align:center;vertical-align:middle;cursor:pointer;word-wrap:normal;white-space:nowrap;box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);text-shadow:0 -1px rgba(0,0,0,0.2);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#6dbde4),to(#399dd8));background:-webkit-linear-gradient(#6dbde4,#399dd8);background:-moz-linear-gradient(#6dbde4,#399dd8);background:-ms-linear-gradient(#6dbde4,#399dd8);background:linear-gradient(#6dbde4,#399dd8);}
.u-btn,.u-btn:hover{color:#fff;text-decoration:none;}
.u-btn:hover,.u-btn:focus{background:#399dd8;}
.u-btn:active{box-shadow:inset 0 1px 4px rgba(0,0,0,0.2);}
.u-btn::-moz-focus-inner{padding:0;margin:0;border:0;}
.u-btn .btnsel{display:inline-block;vertical-align:middle;border-style:solid;border-width:4px 4px 0;border-color:rgba(255,255,255,0.8) transparent transparent;}
.u-btn:hover .btnsel,.u-btn:focus .btnsel{border-top-color:rgba(255,255,255,1);}
/* 较大 */
.u-btn-lg{padding:0 15px;height:36px;line-height:36px;font-size:18px;}
.u-btn-lg .btnsel{border-width:5px 5px 0;}
/* 较小 */
.u-btn-sm{padding:0 10px;height:22px;line-height:22px;}
/* 红色 */
.u-btn-c1{border-color:#9f161b;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#ee232a),to(#cc1c23));background:-webkit-linear-gradient(#ee232a,#cc1c23);background:-moz-linear-gradient(#ee232a,#cc1c23);background:-ms-linear-gradient(#ee232a,#cc1c23);background:linear-gradient(#ee232a,#cc1c23);}
.u-btn-c1:hover,.u-btn-c1:focus{background:#cc1c23;}
/* 黄色 */
.u-btn-c2{border-color:#e1962d;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fbb149),to(#f8960a));background:-webkit-linear-gradient(#fbb149,#f8960a);background:-moz-linear-gradient(#fbb149,#f8960a);background:-ms-linear-gradient(#fbb149,#f8960a);background:linear-gradient(#fbb149,#f8960a);}
.u-btn-c2:hover,.u-btn-c2:focus{background:#f8960a;}
/* 绿色 */
.u-btn-c3{border-color:#52a552;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#68c668),to(#50b150));background:-webkit-linear-gradient(#68c668,#50b150);background:-moz-linear-gradient(#68c668,#50b150);background:-ms-linear-gradient(#68c668,#50b150);background:linear-gradient(#68c668,#50b150);}
.u-btn-c3:hover,.u-btn-c3:focus{background:#50b150;}
/* 灰色 */
.u-btn-c4{border-color:#d0d0d0;text-shadow:0 1px rgba(255,255,255,0.8);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fefefe),to(#e7e7e7));background:-webkit-linear-gradient(#fefefe,#e7e7e7);background:-moz-linear-gradient(#fefefe,#e7e7e7);background:-ms-linear-gradient(#fefefe,#e7e7e7);background:linear-gradient(#fefefe,#e7e7e7);}
.u-btn-c4,.u-btn-c4:hover{color:#333;}
.u-btn-c4:hover,.u-btn-c4:focus{background:#e7e7e7;}
.u-btn-c4 .btnsel{border-top-color:rgba(0,0,0,0.6);}
.u-btn-c4:hover .btnsel,.u-btn-c4:focus .btnsel{border-top-color:rgba(0,0,0,1);}

#divEditor{line-height:1.7em;font-size:1.14em}
#divEditor{font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;}
#panelEditor .mce-panel{border:0px;}

#btnSave.disable{color: #D2D2D2!important;}