<!DOCTYPE html>
<html>
	<head>
		<title>YMAK - BLOG</title>

		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="ymark">
		<meta name="keywords" content=""/>
		<meta name="description" content=""/>
		<link rel="stylesheet" href="{{controller.STATICURL}}/static/m/css/ymark.base.css"/>
		<link rel="stylesheet" href="{{controller.STATICURL}}/static/m/css/mcourse.edit.content.css"/>

		<link rel="shortcut icon" href="{{controller.STATICURL}}/static/img/favicon.ico"/>
		<link rel="apple-touch-icon" href="{{controller.STATICURL}}/static/img/favicon.ico"/>
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<input type="hidden" id="uid" value="{{ controller.uid }}" />
		<input type="hidden" id="cid" value="" />
		<div class="g-hd">
			<!-- <a href="javascript:CW.toggleCatalog();" class="btn ionic ion-navicon">&nbsp;&nbsp;目录</a> -->
			<a href="javascript:CW.goBack()" class="btn ionic ion-arrow-left-c">&nbsp;&nbsp;返回</a><a href="javascript:;" read="0" id="btnContentSaveQuick" class="btn ionic ion-ios-download-outline">&nbsp;&nbsp;快速保存</a><a href="javascript:;" id="btnSave" class="btn ionic ion-upload disable">&nbsp;&nbsp;完整保存</a>
		</div>
		<div class="g-hd g-right">
			<a href="javascript:;" id="btnPreview" target="_blank" class="btn ionic ion-upload">&nbsp;&nbsp;预览</a>
		</div>
		<div class="g-sd"> <div id="catalogTree"></div> </div>
		<div class="g-mn" id="panelEditor"> 
			<div id="divEditor"></div>
		</div>
		<div class="g-mn" id="panelMind">
		    <iframe scrolling="auto" frameborder="0" allowtransparency="true" id="iframeMind" frameborder="0" style="height: 100%;width:100%;"></iframe>
		</div>
		<div class="g-ft">
		    
		</div>
		<div class="g-dialog" id="divCatalogForm">
			<div class="m-form">
			    <form name="" action="#" method="get">
			        <fieldset>
			        	<div class="formitm">
			                <label class="lab">父节点：</label>
			                <div class="ipt" id="catalog_ptitle"></div>
			                <label class="lab">深度：</label>
			                <div class="ipt" id="catalog_deep"></div>
			            </div>
			            <div class="formitm">
			                <label class="lab">节点名称：</label>
			                <div class="ipt">
			                    <input type="text" class="u-ipt" id="catalog_title"/>
			                </div>
			            </div>
			            <div class="formitm">
			                <label class="lab">备注：</label>
			                <div class="ipt">
			                	<textarea class="u-ipt" id="catalog_remark" rows="3"></textarea>
			                    <p>尽量不要超过100字~</p>
			                </div>
			            </div>
			            <div class="formitm formitm-1">
			            	<button class="u-btn" type="button" id="catalog_btn_submit">提交</button>
			            	<button class="u-btn" type="button" id="catalog_btn_submit_new">保存并新建</button>
			            	<button class="u-btn u-btn-c4" type="button" id="catalog_btn_close">关闭</button>
			            </div>
			        </fieldset>
			    </form>
			</div>
		</div>
		<script type="text/javascript">var STATICURL='{{controller.STATICURL}}'; var MANAGEURL='{{controller.MANAGEURL}}';</script>
		<script src="{{controller.STATICURL}}/static/js/sea.js"></script>
		<script src="{{controller.STATICURL}}/static/js/pace.min.js"></script>
		<script async src="{{controller.STATICURL}}/static/m/js/mcourse.edit.content.js"></script>
	</body>
</html>
