<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Ymark</title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<meta name="viewport" content="width=device-width"/>
	<link rel="stylesheet" href="http://static.ymark.wang/static/m/css/ymark.base.css"/>
	<link rel="stylesheet" href="http://static.ymark.wang/static/m/css/mcourse.list.css"/>
	<link rel="shortcut icon" href="http://static.ymark.wang/static/img/favicon.ico"/>
	<link rel="apple-touch-icon" href="http://static.ymark.wang/static/img/favicon.ico"/>
</head>
<body>
<div class="g-doc">
    <div class="g-hd">
		<div class="m-nav">
		    <ul>
		        <li class="first"><a href="#">易马克</a></li>
		        <!-- <li><a href="#">栏目1</a></li>
		        <li><a href="#">栏目2</a></li>
		        <li><a href="#">栏目3</a></li> -->
		    </ul>
		    <span class="corner corner-l"></span><span class="corner corner-r"></span>
		</div>
    </div>
    <div class="g-bd">
        <div class="g-bd1 f-cb">
		    <div class="g-sd1">
		        <menu class="u-menu">
				    <li class="active"><a href="#">我的课程</a></li>
				    <li><a href="#">问题库</a></li>
				    <li><a href="#">反馈库</a></li>
				    <li><a href="#">配置</a></li>
				</menu>
		    </div>
		    <div class="g-mn1">
		        <div class="g-mn1c" id="gmn">
		        	<nav class="m-crumb m-crumb-arr">
					    <ul class="f-cb">
					        <li><a href="#">主页</a></li>
					        <li><a href="#">所有课程</a></li>
					        <li>课程列表页</li>
					    </ul>
					</nav>
					<nav class="m-btngroup">
						<button type="button" class="u-btn" id="btnAddCourse"> <span class="ionic ion-plus"></span> 新建课程 </button>
					</nav>
		            <div class="m-grid">
		            	<table id="grid-data">
						    <thead>
						        <tr>
						            <th data-column-id="uid" data-formatter="link">序列</th>
						            <th data-column-id="name">标题</th>
						            <th data-column-id="options" data-formatter="options"></th>
						        </tr>
						    </thead>
						</table>
					</div>
		        </div>
		    </div>
		</div>
    </div>
    <div class="m-form g-dialog" id="panelCourseForm">
	    <form name="" action="#" method="get">
	        <fieldset>
	            <div class="formitm">
	                <label class="lab">课程名称：</label>
	                <div class="ipt">
	                    <input type="text" class="u-ipt" id="courseName"/>
	                </div>
	            </div>
	            <div class="formitm">
	                <label class="lab">简要介绍：</label>
	                <div class="ipt">
	                	<textarea class="u-ipt u-textarea" id="courseSummary" rows="5"></textarea>
	                    <p>字数不要超过200字~</p>
	                </div>
	            </div>
	            <div class="formitm formitm-1"><button class="u-btn" onclick="CFM.saveForm();" type="button">保存</button> <button class="u-btn u-btn-c4" onclick="CFM.closeForm()" type="button">关闭</button></div>
	        </fieldset>
	    </form>
	</div>
	<div class="m-form g-dialog gc-ctg" id="panelCourseCatalog">
		<div class="gc-ml catalog-tree" id="catalogTree"></div>
	    <div class="gc-mr">
	        <header class="m-hd">
			    <h2 class="u-tt"><a id="catalogUpdCnt" target="_blank" href="#">修改内容</a></h2>
			    <!-- <h2 class="u-tt"><a id="catalogDelete" href="javascript:;">删除</a></h2> -->
			    <h2 class="u-tt"><a id="catalogPrew" target="_blank" href="#">预览</a></h2>
			    <ul id="catalogul">
			        <li class="z-crt"><a href="javascript:CTG.showPanel('Form', 0);">表单</a></li>
			        <li><a href="javascript:CTG.showPanel('OrderList' ,1);">排序</a></li>
			    </ul>
			</header>
			<div class="ctg-panel ctg-form" id="catalogForm">
				<fieldset>
		            <div class="formitm">
		                <label class="lab">节点名称：</label>
		                <div class="ipt">
		                    <input type="text" class="u-ipt" id="ctgTitle"/>
		                    <p>30字以内</p>
		                </div>
		            </div>
		            <div class="formitm">
		                <label class="lab">备注：</label>
		                <div class="ipt">
		                	<textarea class="u-ipt u-textarea" id="ctgRemark" rows="5"></textarea>
		                    <p>字数不要超过200字~</p>
		                </div>
		            </div>
		            <div class="formitm">
		                <label class="lab">权重：</label>
		                <div class="ipt">
		                    <input type="text" class="u-ipt" id="ctgWimport"/>
		                    <p>重要程度</p>
		                </div>
		            </div>
		            <div class="formitm">
		                <label class="lab">所占分数：</label>
		                <div class="ipt">
		                    <input type="text" class="u-ipt" id="ctgWscore"/>
		                    <p>总科目的此目录所占的分数</p>
		                </div>
		            </div>
		            
		            <div class="formitm formitm-1">
		            	<button id="catalog_btn_new_child" class="u-btn" type="button">新建子节点</button>
		            	<button id="catalog_btn_submit" class="u-btn" type="button">保存</button>
		            	<button id="catalog_btn_submit_new" class="u-btn" type="button">保存并新建</button>
		            </div>
		        </fieldset>
			</div>
			<div class="ctg-panel ctg-list" id="catalogOrderList">
				<table>
			        <thead>
			           <tr><th>节点名称</th><th></th></tr>
			        </thead>
			    </table>
				<div class="scroll" >
				    <table>
			            <tbody id="catalogSortGrid">
			            	<tr><td colspan="2" class="none">没有子节点...</td></tr>
			            </tbody>
			        </table>
			    </div>
			</div>
	    </div>
	</div>
</div>
<script src="http://static.ymark.wang/static/js/sea.js"></script>
<script src="http://static.ymark.wang/static/js/pace.min.js"></script>
<script src="http://static.ymark.wang/static/m/js/mcourse.list.js"></script>
<script type="text/javascript">
	var BASE_PATH = "{{ think.STATIC_PATH }}"

</script>
</body>
</html>