<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Ymark</title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<meta name="viewport" content="width=device-width"/>
	<link rel="stylesheet" href="/static/m/css/ymark.base.css"/>
	<link rel="stylesheet" href="/static/m/css/courselist.css"/>
	<link rel="shortcut icon" href="/static/img/favicon.ico"/>
	<link rel="apple-touch-icon" href="/static/img/favicon.ico"/>
</head>
<body>
<div class="g-doc">
    <div class="g-hd">
		<div class="m-nav">
		    <ul>
		        <li class="first"><a href="#">易马克</a></li>
		        <!-- <li><a href="#">栏目1</a></li>
		        <li><a href="#">栏目2</a></li>
		        <li><a href="#">栏目3</a></li> -->
		    </ul>
		    <span class="corner corner-l"></span><span class="corner corner-r"></span>
		</div>
    </div>
    <div class="g-bd">
        <div class="g-bd1 f-cb">
		    <div class="g-sd1">
		        <menu class="u-menu">
				    <li class="active"><a href="#">我的课程</a></li>
				    <li><a href="#">问题库</a></li>
				    <li><a href="#">反馈库</a></li>
				    <li><a href="#">配置</a></li>
				</menu>
		    </div>
		    <div class="g-mn1">
		        <div class="g-mn1c" id="gmn">
		        	<nav class="m-crumb m-crumb-arr">
					    <ul class="f-cb">
					        <li><a href="#">主页</a></li>
					        <li><a href="#">面包屑，可多行</a></li>
					        <li><a href="#">面包屑</a></li>
					        <li>文字</li>
					    </ul>
					</nav>
					<nav class="m-btngroup">
						<button type="button" class="u-btn" id="btnAddCourse"> <span class="ionic ion-plus"></span> 新建课程 </button>
					</nav>
		            <div class="m-grid">
		            	<table id="grid-data">
						    <thead>
						        <tr>
						            <th data-column-id="uid" data-formatter="link">序列</th>
						            <th data-column-id="name">标题</th>
						            <th data-column-id="options" data-formatter="options"></th>
						        </tr>
						    </thead>
						</table>
					</div>
		        </div>
		    </div>
		</div>
    </div>
    <div class="m-form g-dialog" id="panelCourseForm">
	    <form name="" action="#" method="get">
	        <fieldset>
	            <div class="formitm">
	                <label class="lab">课程名称：</label>
	                <div class="ipt">
	                    <input type="text" class="u-ipt" id="courseName"/>
	                </div>
	            </div>
	            <div class="formitm">
	                <label class="lab">简要介绍：</label>
	                <div class="ipt">
	                	<textarea class="u-ipt u-textarea" id="courseSummary" rows="5"></textarea>
	                    <p>字数不要超过200字~</p>
	                </div>
	            </div>
	            <div class="formitm formitm-1"><button class="u-btn" onclick="CFM.saveForm();" type="button">保存</button> <button class="u-btn u-btn-c4" onclick="CFM.closeForm()" type="button">关闭</button></div>
	        </fieldset>
	    </form>
	</div>
</div>
<script src="/static/js/sea.js"></script>
<script src="/static/js/pace.min.js"></script>
<script src="/static/m/js/courselist.js"></script>
</body>
</html>