{% extends "./layout.html" %}

{% block import %}
<link rel="stylesheet" type="text/css" href="/static/m/css/bootstrap-treeview.css">
<link rel="stylesheet" type="text/css" href="/static/fun/editor/css/editormd.min.css">
<script src="/static/m/js/bootstrap-treeview.js"></script>
<script src="/static/fun/editor/editormd.min.js"></script>

<link type="text/css" rel="stylesheet" href="/static/fun/jsmind/jsmind.css" />
<script type="text/javascript" src="/static/fun/jsmind/jsmind.js"></script>
<script type="text/javascript" src="/static/fun/jsmind/jsmind.draggable.js"></script>
<style type="text/css">
	.nav-tabs{margin-bottom: 15px;margin-top: 0px;border-bottom: 0px;}
	#divstructure{width:100%;min-height: 200px;height: 500px;}
</style>
{% endblock %}


{% block content %}
<div class="row">
	<div class="col-md-2">
		<div class="btn-group btn-group-justified btn-group-raised" style="margin-top:0px;">
		  <a href="javascript:void(0)" id="btnSpread2" class="btn ">2级</a>
		  <a href="javascript:void(0)" id="btnSpreadThis" class="btn ">THIS</a>
		  <a href="javascript:void(0)" id="btnSpreadNone" class="btn ">无</a>
		</div>
		<div id="tree" class="treeview"></div>
	</div>
  	<div class="col-md-10">
  		<ul class="nav nav-tabs btn-group btn-group-justified btn-group-raised" style="margin-bottom: 15px;">
		  <li><a href="#divform" data-toggle="tab" class="btn active">表单信息</a></li>
		  <li><a href="#divstructure" data-toggle="tab" class="btn ">知识结构图</a></li>
		  <li class="active"><a href="#divcontent" data-toggle="tab" class="btn ">内容</a></li>

		  <li><a href="javascript:;" class="btn " id="btnSaveAll">保存</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
		  <div class="tab-pane fade " id="divform">
		    <form class="form-horizontal">
			  <fieldset>
			  	<div class="form-group">
			  		<div class="col-md-2"></div>
			  	 	<div class="col-md-5">父节点名称：<span class="text-primary" id="spanParentName">根节点</span></div>
			  	 	<div class="col-md-5">深度：<span class="text-primary" id="spanDeep">-</span></div>
			    </div>
			  	
			    <div class="form-group">
			      <label for="inputTitle" class="col-md-2 control-label">节点名称</label>
			      <div class="col-md-10">
			      	<input type="hidden" id="nodeId">
			      	<input type="hidden" id="inputId">
			      	<input type="hidden" id="inputPid">
			        <input type="text" class="form-control" id="inputTitle" placeholder="Title">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="inputRemark" class="col-md-2 control-label">节点备注</label>
			      <div class="col-md-10">
			        <textarea class="form-control" rows="3" id="inputRemark" placeholder="Remark"></textarea>
			        <span class="help-block">可为空</span>
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-md-10 col-md-offset-2">
			      	<a href="javascript:void(0)" id="btnFormAddNext" class="btn disable btn-raised btn-default">添加同级节点</a>
			        <a href="javascript:void(0)" id="btnFormAddChild" class="btn btn-raised btn-default">添加子节点</a><br/>
			        <a href="javascript:void(0)" id="btnFormSave" class="btn btn-raised btn-info">提交</a>
			        <a href="javascript:void(0)" id="btnFormDelete" class="btn btn-raised btn-danger">删除</a><br/>
			      </div>
			    </div>
			  </fieldset>
			</form>
		  </div>
		  <div class="tab-pane fade active in" id="divstructure">
		  </div>
		  <div class="tab-pane fade " id="divcontent">
<textarea style="display:none;">
[TOC]
#### Disabled options

- TeX (Based on KaTeX);
- Emoji;
- Task lists;
- HTML tags decode;
- Flowchart and Sequence Diagram;

#### Editor.md directory

    editor.md/
            lib/
            css/
            scss/
            tests/
            fonts/
            images/
            plugins/
            examples/
            languages/     
            editormd.js
            ...

```html
&lt;!-- English --&gt;
&lt;script src="../dist/js/languages/en.js"&gt;&lt;/script&gt;

&lt;!-- 繁體中文 --&gt;
&lt;script src="../dist/js/languages/zh-tw.js"&gt;&lt;/script&gt;
```
</textarea>

		  </div>
		</div>
  		
  	</div>
</div>

<script type="text/javascript">
	var objTree = undefined  ,
		objForm = undefined ,
		objEditor = undefined ;
	$(function () {
		$('[selectMode=tree]').addClass('active');
		loadTreeList();
		objForm = nodeForm();
		loadEvent();
		editorContent();
		setTimeout(jsmidStructure ,1000);

	});
	/**
	 * 绑定一些按钮的事件
	 * @return {[type]} [description]
	 */
	function loadEvent(){
		$('#btnSpreadNone').click(function () {objTree.treeview('collapseAll', { silent: true }) });
		$('#btnSpread2').click(function () {objTree.treeview('expandAll', { levels: 1, silent: true }) });
		$('#btnSpreadAll').click(function () {objTree.treeview('expandAll'); });
		$('#btnSpreadThis').click(function () {
			objTree.treeview('expandNode' , [ objForm.getNodeId(), { levels: 5, silent: true } ]);
		})

		$('#btnFormSave').click(objForm.saveNode);						//表单提交
		$('#btnFormDelete').click(objForm.deleteNode);					//表单删除
		$('#btnFormAddNext').click(function(){							//表单添加同级节点
			if($(this).attr('disabled') == 'disabled') return; 
			objForm.resetForm(2);
		});	
		$('#btnFormAddChild').click(function(){							//表单添加子节点
			if($(this).attr('disabled') == 'disabled') return; 
			objForm.resetForm(3);
		});	

		$('#btnSaveAll').click(function () {
			console.log(objEditor.getHTML());
		})
	}

	/**
	 * 关于Editor相关的方法
	 */
	function editorContent(){
		objEditor = editormd("divcontent", {
			toolbarIcons : function() {
	            // Or return editormd.toolbarModes[name]; // full, simple, mini
	            // Using "||" set icons align right.
	            return ["undo", "|", "bold", "del", "italic", "quote", "hr", "|", 
            "h1", "h2", "h3", "h4", "h5", "h6", "|", 
            "list-ul", "list-ol","link", "image", "||", "watch", "fullscreen", "preview", "testIcon"]
	        },
	        saveHTMLToTextarea 	: true ,
	        imageUpload 	: true ,
	        imageUploadURL       : "xxx/upload/",
	        crossDomainUpload    : false,
	        uploadCallbackURL    : "aaa",
	        watch	: false,
            height  : 640,
            width : '100%',
            path    : "/static/fun/editor/lib/"
        });
	}

	/**
	 * 结构树
	 */
	function jsmidStructure() {
		var mind = {
            "meta":{
                "name":"demo",
                "author":"hizzgdev@163.com",
                "version":"0.2",
            },
            "format":"node_array",
            "data":[
                {"id":"root", "isroot":true, "topic":"jsMind"},

                {"id":"sub1", "parentid":"root", "topic":"sub1"},
                {"id":"sub11", "parentid":"sub1", "topic":"sub11"},
                {"id":"sub12", "parentid":"sub1", "topic":"sub12"},
                {"id":"sub13", "parentid":"sub1", "topic":"sub13"},

                {"id":"sub2", "parentid":"root", "topic":"sub2"},
                {"id":"sub21", "parentid":"sub2", "topic":"sub21"},
                {"id":"sub22", "parentid":"sub2", "topic":"sub22"},

                {"id":"sub3", "parentid":"root", "topic":"sub3"},
            ]
        };
        var options = {
            container:'divstructure',
            editable:true,
            theme:'primary'
        }
        var jm = jsMind.show(options,mind);
	}

	/**
	 * 加载TREE
	 * @param  {[type]} nodeId 要展开的NodeID
	 * @return {[type]}        [description]
	 */
	function loadTreeList(nodeId){
		var expandUpByNid = function(nid){
			var pid = objTree.treeview('getParent', nid).parentId;
			if(typeof(pid) != 'undefined'){expandUpByNid(pid); }
			objTree.treeview('expandNode' , [ nid, { levels: 10, silent: true } ]);
		}
		$.query('/mcourse/nexus/list' ,null,function(e){
			if(e.errno > 0){console.error(e.errmsg); return; }
			objTree = $('#tree').treeview({
				data 			: e.data ,
				onNodeSelected     : function(e ,node){
					objForm.loadNodeInfo(node); 
				}
			});
			if(nodeId){
				expandUpByNid(nodeId); 
				objTree.treeview('selectNode' , [ nodeId, { silent: true } ]);
				objForm.loadNodeInfo(objTree.treeview('getNode', nodeId)); 
			}
		} ,'post')
	}

	function nodeForm(){
		var $Id 	= $('#inputId'),
			$Pid 	= $('#inputPid'),
			$Title 	= $('#inputTitle'),
			$Remark = $('#inputRemark'),
			$Pname  = $('#spanParentName'),
			$Deep 	= $('#spanDeep'),

			optType = 1 ,	//1:添加，2:修改
			deep 	= 0 ,	//当前节点的深度

			$btnAddNext 	= $('#btnFormAddNext'),
			$btnAddChild 	= $('#btnFormAddChild'),
			$divRelMenu 	= $('#divRelatMenus');

		var nodeId 		= undefined ;

		var getMaxId 	= function(id ,nodes){
			var maxId 	= 0 , 
				nid 	= 0 ,
				oid 	= 0 ;
			for(var i=0,len=nodes.length,mid;i<len;i++){
				mid = parseInt(nodes[i].id);
				if(mid > maxId) maxId = mid;
			}
			if(maxId > 9){
				maxId 	= maxId + '';
				oid 	= maxId.substring(0 ,maxId.length - 2);
				nid 	= parseInt(maxId.substr(maxId.length - 2));
				nid 	+= 1;
				if(nid < 10) id = oid + '0' + nid;
				else id = oid + '' + nid;
			}else{
				maxId += 1;
				id = (maxId == 10) ? -1 : maxId;
			}
			return id;
		}

		return {
			/**
			 * 加载一个节点的信息
			 * @param  {[type]} id 节点ID
			 */
			loadNodeInfo : function(node){
				nodeId = node.nodeId;
				$Id.val(node.id);
				$Pid.val(node.pid);
				$Title.val(node.text);
				$Remark.val(node.remark);
				deep = node.deep;
				$Deep.text(deep);
				$btnAddNext.attr('disabled',false);
				$btnAddChild.attr('disabled',false);
				optType = 2;
				var pname = objTree.treeview('getParent', node.nodeId).text;
				if(typeof(pname)+'' == 'string') $Pname.text(pname);
				else $Pname.text('根节点');
			},
			/**
			 * 保存一个节点，包括添加和修改
			 */
			saveNode :function(){
				var id = $Id.val();
				if(!id){$.error('请选择一个节点作为父节点~少年'); return; }
				if(!$Title.val()){$.error('请填写标题~少年'); return; }
				$.query('/mcourse/nexus/'+id ,{pid:$Pid.val() ,deep:deep ,title:$Title.val() ,remark:$Remark.val() ,optType:optType},function(e){
					if(e.errno > 0){console.error(e.errmsg); return; }
					$.info(e.data);
					loadTreeList(nodeId);
				} ,'put');
			},
			/**
			 * 删除一个节点
			 * @param  {[type]} id [description]
			 * @return {[type]}    [description]
			 */
			deleteNode : function () {
				layer.confirm('确认要删除？', {btn: ['就是要删除','还是取消吧'] }, function(){
				  	if(!$Id.val()){console.error('deleteNode id is empty'); return; }
					$.query('/mcourse/nexus/'+$Id.val() ,{},function(e){
						if(e.errno > 0){console.error(e.errmsg); return; }
						$.info(e.data);
						nodeId -= 1;
						loadTreeList(nodeId);
					} ,'delete');
				});
			},
			/**
			 * 清空表单
			 * @param  {int} mode 1:重置为默认；2:添加同级节点；3:添加子节点
			 */
			resetForm : function(mode){
				var id = $Id.val();
				if(!id){$.error('请选中一个节点！'); return; }
				if(mode == 3){ 			//添加子节点
					deep += 1;
					$Deep.text(deep);
					$Pname.text($Title.val());
					$Pid.val(id);
					//获取所有最大一个子节点的ID
					var nodeChilds = objTree.treeview('getNode', nodeId).nodes;	//获取子节点
					if(!nodeChilds || nodeChilds.length<=0){id = id + '01'; }
					else id = getMaxId(id ,nodeChilds);
					$btnAddNext.attr("disabled",true); 
					$btnAddChild.attr("disabled",true); 
				}else if(mode == 2){	//添加同级节点
					var nodes = objTree.treeview('getSiblings', nodeId);	//获取同级节点
					nodes.push({id:id});
					id = getMaxId(id ,nodes);
					if(id == -1){$.error('第一节点，最多不能超过9个！'); return ; }
					$btnAddNext.attr("disabled",true); 
					$btnAddChild.attr("disabled",true); 
				}else if(mode == 1){
					$btnAddNext.attr('disabled',false);
					$btnAddChild.attr('disabled',false);
					$Pname.text('-');
					$Deep.text('-');
				}
				$Id.val(id);
				$Title.val('');
				$Remark.val('');
				optType = 1;
			},
			getNodeId : function(){
				return nodeId;
			}
		}
	}
</script>
{% endblock %}