@charset "UTF-8";html,body{height:100%}
/* 滚动条 */
* ::-webkit-scrollbar{height:10px;width:7px;background:rgba(0,0,0,.1)}
* ::-webkit-scrollbar:hover{background:rgba(0,0,0,.2)}
* ::-webkit-scrollbar-thumb{background:rgba(0,0,0,.3);-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;border-radius:6px}
* ::-webkit-scrollbar-thumb:hover{-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);-moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);-ms-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);-o-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);background-color:rgba(0,0,0,.4)}

/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}


/* 全屏自适应布局  */
html,body{width:100%;height:100%;overflow:hidden;margin:0;}
html{_height:auto;_padding:100px 0 50px;}
.g-hd,.g-sd,.g-mn,.g-ft{position:absolute;left:0;}
.g-hd,.g-ft{width:100%;}
.g-sd,.g-mn{top:50px;bottom:0px;_height:100%;overflow:auto;}
.g-hd{top:0;height:50px;border-bottom:1px solid #E6E6E6;background: #3498db;background-image: -webkit-linear-gradient(top, #3498db, #2980b9);background-image: -moz-linear-gradient(top, #3498db, #2980b9);background-image: -ms-linear-gradient(top, #3498db, #2980b9);background-image: -o-linear-gradient(top, #3498db, #2980b9);background-image: linear-gradient(to bottom, #3498db, #2980b9);}
.g-sd{width:249px;border-right:1px solid #E6E6E6;}
.g-mn{_position:relative;left:250px;right:0;_top:0;_left:0;_margin-left:250px;border-top:1px solid #E6E6E6;}
.g-ft{bottom:0;height:0px;border-top:1px solid #E6E6E6;text-align: center;line-height:30px;background: #ffffff; background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0); background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0); background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0); background-image: -o-linear-gradient(top, #ffffff, #f0f0f0); background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);}

/* 含标题和Tab的模块头部-默认不定宽 */
.m-hd{height:25px;line-height:25px;padding:10px 0 0;border-bottom:1px solid #ddd;}
.m-hd h2,.m-hd ul,.m-hd li{float:left;}
.m-hd h2{margin:0 20px 0 0;font-size:16px;}
.m-hd li{position:relative;margin:-1px 0 0 2px;}
.m-hd li:first-child{margin-left:0;}
.m-hd li a,.m-hd li a:hover{text-decoration:none;color:#666;}
.m-hd li a{display:block;padding:0 15px;border:1px solid #ddd;border-bottom:0;border-radius:5px 5px 0 0;text-align:center;font-size:14px;background:#f2f2f2;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fdfdfd),to(#f2f2f2));background:-webkit-linear-gradient(#fdfdfd,#f2f2f2);background:-moz-linear-gradient(#fdfdfd,#f2f2f2);background:-ms-linear-gradient(#fdfdfd,#f2f2f2);background:linear-gradient(#fdfdfd,#f2f2f2);}
.m-hd li a:hover{background:#fff;}
.m-hd li.z-crt a{padding-bottom:1px;margin-bottom:-1px;background:#fff;}
/* 有背景 */
.m-hd-bg{padding:11px 10px 0;border-radius:5px 5px 0 0;background:#f7f7f7;}
/* tab无缝 */
.m-hd-sl li{margin-left:-1px;}
.m-hd-sl li a{border-radius:0;}
.m-hd-sl li:first-child a{border-top-left-radius:5px;}
.m-hd-sl li:last-child a{border-top-right-radius:5px;}
/* tab居右 */
.m-hd-rt h2{margin-right:0;}
.m-hd-rt ul{float:right;}
/* tab较小 */
.m-hd-sm{height:25px;line-height:25px;}
.m-hd-sm h2{font-size:14px;}
.m-hd-sm li a{padding:0 10px;font-size:12px;}
/* tab定宽 */
.m-hd-fw li{width:60px;}
.m-hd-fw li a{padding:0;font-size: 12px;}
/* tab直角 */
.m-hd-ra,.m-hd-ra li a,.m-hd-ra li:first-child a,.m-hd-ra li:last-child a{border-radius:0;}

@font-face{font-family: 'Glyphicons Halflings';src: url('../../fonts/glyphicons-halflings-regular.eot');src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');}
.glyphicon{position: relative;top: 1px;display: inline-block;font-family: 'Glyphicons Halflings';font-style: normal;font-weight: normal;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.glyphicon-asterisk:before{content: "\2a";}
.glyphicon-plus:before{content: "\2b";}
.glyphicon-euro:before,
.glyphicon-eur:before{content: "\20ac";}
.glyphicon-minus:before{content: "\2212";}
.glyphicon-cloud:before{content: "\2601";}
.glyphicon-envelope:before{content: "\2709";}
.glyphicon-pencil:before{content: "\270f";}
.glyphicon-glass:before{content: "\e001";}
.glyphicon-music:before{content: "\e002";}
.glyphicon-search:before{content: "\e003";}
.glyphicon-heart:before{content: "\e005";}
.glyphicon-star:before{content: "\e006";}
.glyphicon-star-empty:before{content: "\e007";}
.glyphicon-user:before{content: "\e008";}
.glyphicon-film:before{content: "\e009";}
.glyphicon-th-large:before{content: "\e010";}
.glyphicon-th:before{content: "\e011";}
.glyphicon-th-list:before{content: "\e012";}
.glyphicon-ok:before{content: "\e013";}
.glyphicon-remove:before{content: "\e014";}
.glyphicon-zoom-in:before{content: "\e015";}
.glyphicon-zoom-out:before{content: "\e016";}
.glyphicon-off:before{content: "\e017";}
.glyphicon-signal:before{content: "\e018";}
.glyphicon-cog:before{content: "\e019";}
.glyphicon-trash:before{content: "\e020";}
.glyphicon-home:before{content: "\e021";}
.glyphicon-file:before{content: "\e022";}
.glyphicon-time:before{content: "\e023";}
.glyphicon-road:before{content: "\e024";}
.glyphicon-download-alt:before{content: "\e025";}
.glyphicon-download:before{content: "\e026";}
.glyphicon-upload:before{content: "\e027";}
.glyphicon-inbox:before{content: "\e028";}
.glyphicon-play-circle:before{content: "\e029";}
.glyphicon-repeat:before{content: "\e030";}
.glyphicon-refresh:before{content: "\e031";}
.glyphicon-list-alt:before{content: "\e032";}
.glyphicon-lock:before{content: "\e033";}
.glyphicon-flag:before{content: "\e034";}
.glyphicon-headphones:before{content: "\e035";}
.glyphicon-volume-off:before{content: "\e036";}
.glyphicon-volume-down:before{content: "\e037";}
.glyphicon-volume-up:before{content: "\e038";}
.glyphicon-qrcode:before{content: "\e039";}
.glyphicon-barcode:before{content: "\e040";}
.glyphicon-tag:before{content: "\e041";}
.glyphicon-tags:before{content: "\e042";}
.glyphicon-book:before{content: "\e043";}
.glyphicon-bookmark:before{content: "\e044";}
.glyphicon-print:before{content: "\e045";}
.glyphicon-camera:before{content: "\e046";}
.glyphicon-font:before{content: "\e047";}
.glyphicon-bold:before{content: "\e048";}
.glyphicon-italic:before{content: "\e049";}
.glyphicon-text-height:before{content: "\e050";}
.glyphicon-text-width:before{content: "\e051";}
.glyphicon-align-left:before{content: "\e052";}
.glyphicon-align-center:before{content: "\e053";}
.glyphicon-align-right:before{content: "\e054";}
.glyphicon-align-justify:before{content: "\e055";}
.glyphicon-list:before{content: "\e056";}
.glyphicon-indent-left:before{content: "\e057";}
.glyphicon-indent-right:before{content: "\e058";}
.glyphicon-facetime-video:before{content: "\e059";}
.glyphicon-picture:before{content: "\e060";}
.glyphicon-map-marker:before{content: "\e062";}
.glyphicon-adjust:before{content: "\e063";}
.glyphicon-tint:before{content: "\e064";}
.glyphicon-edit:before{content: "\e065";}
.glyphicon-share:before{content: "\e066";}
.glyphicon-check:before{content: "\e067";}
.glyphicon-move:before{content: "\e068";}
.glyphicon-step-backward:before{content: "\e069";}
.glyphicon-fast-backward:before{content: "\e070";}
.glyphicon-backward:before{content: "\e071";}
.glyphicon-play:before{content: "\e072";}
.glyphicon-pause:before{content: "\e073";}
.glyphicon-stop:before{content: "\e074";}
.glyphicon-forward:before{content: "\e075";}
.glyphicon-fast-forward:before{content: "\e076";}
.glyphicon-step-forward:before{content: "\e077";}
.glyphicon-eject:before{content: "\e078";}
.glyphicon-chevron-left:before{content: "\e079";}
.glyphicon-chevron-right:before{content: "\e080";}
.glyphicon-plus-sign:before{content: "\e081";}
.glyphicon-minus-sign:before{content: "\e082";}
.glyphicon-remove-sign:before{content: "\e083";}
.glyphicon-ok-sign:before{content: "\e084";}
.glyphicon-question-sign:before{content: "\e085";}
.glyphicon-info-sign:before{content: "\e086";}
.glyphicon-screenshot:before{content: "\e087";}
.glyphicon-remove-circle:before{content: "\e088";}
.glyphicon-ok-circle:before{content: "\e089";}
.glyphicon-ban-circle:before{content: "\e090";}
.glyphicon-arrow-left:before{content: "\e091";}
.glyphicon-arrow-right:before{content: "\e092";}
.glyphicon-arrow-up:before{content: "\e093";}
.glyphicon-arrow-down:before{content: "\e094";}
.glyphicon-share-alt:before{content: "\e095";}
.glyphicon-resize-full:before{content: "\e096";}
.glyphicon-resize-small:before{content: "\e097";}
.glyphicon-exclamation-sign:before{content: "\e101";}
.glyphicon-gift:before{content: "\e102";}
.glyphicon-leaf:before{content: "\e103";}
.glyphicon-fire:before{content: "\e104";}
.glyphicon-eye-open:before{content: "\e105";}
.glyphicon-eye-close:before{content: "\e106";}
.glyphicon-warning-sign:before{content: "\e107";}
.glyphicon-plane:before{content: "\e108";}
.glyphicon-calendar:before{content: "\e109";}
.glyphicon-random:before{content: "\e110";}
.glyphicon-comment:before{content: "\e111";}
.glyphicon-magnet:before{content: "\e112";}
.glyphicon-chevron-up:before{content: "\e113";}
.glyphicon-chevron-down:before{content: "\e114";}
.glyphicon-retweet:before{content: "\e115";}
.glyphicon-shopping-cart:before{content: "\e116";}
.glyphicon-folder-close:before{content: "\e117";}
.glyphicon-folder-open:before{content: "\e118";}
.glyphicon-resize-vertical:before{content: "\e119";}
.glyphicon-resize-horizontal:before{content: "\e120";}
.glyphicon-hdd:before{content: "\e121";}
.glyphicon-bullhorn:before{content: "\e122";}
.glyphicon-bell:before{content: "\e123";}
.glyphicon-certificate:before{content: "\e124";}
.glyphicon-thumbs-up:before{content: "\e125";}
.glyphicon-thumbs-down:before{content: "\e126";}
.glyphicon-hand-right:before{content: "\e127";}
.glyphicon-hand-left:before{content: "\e128";}
.glyphicon-hand-up:before{content: "\e129";}
.glyphicon-hand-down:before{content: "\e130";}
.glyphicon-circle-arrow-right:before{content: "\e131";}
.glyphicon-circle-arrow-left:before{content: "\e132";}
.glyphicon-circle-arrow-up:before{content: "\e133";}
.glyphicon-circle-arrow-down:before{content: "\e134";}
.glyphicon-globe:before{content: "\e135";}
.glyphicon-wrench:before{content: "\e136";}
.glyphicon-tasks:before{content: "\e137";}
.glyphicon-filter:before{content: "\e138";}
.glyphicon-briefcase:before{content: "\e139";}
.glyphicon-fullscreen:before{content: "\e140";}
.glyphicon-dashboard:before{content: "\e141";}
.glyphicon-paperclip:before{content: "\e142";}
.glyphicon-heart-empty:before{content: "\e143";}
.glyphicon-link:before{content: "\e144";}
.glyphicon-phone:before{content: "\e145";}
.glyphicon-pushpin:before{content: "\e146";}
.glyphicon-usd:before{content: "\e148";}
.glyphicon-gbp:before{content: "\e149";}
.glyphicon-sort:before{content: "\e150";}
.glyphicon-sort-by-alphabet:before{content: "\e151";}
.glyphicon-sort-by-alphabet-alt:before{content: "\e152";}
.glyphicon-sort-by-order:before{content: "\e153";}
.glyphicon-sort-by-order-alt:before{content: "\e154";}
.glyphicon-sort-by-attributes:before{content: "\e155";}
.glyphicon-sort-by-attributes-alt:before{content: "\e156";}
.glyphicon-unchecked:before{content: "\e157";}
.glyphicon-expand:before{content: "\e158";}
.glyphicon-collapse-down:before{content: "\e159";}
.glyphicon-collapse-up:before{content: "\e160";}
.glyphicon-log-in:before{content: "\e161";}
.glyphicon-flash:before{content: "\e162";}
.glyphicon-log-out:before{content: "\e163";}
.glyphicon-new-window:before{content: "\e164";}
.glyphicon-record:before{content: "\e165";}
.glyphicon-save:before{content: "\e166";}
.glyphicon-open:before{content: "\e167";}
.glyphicon-saved:before{content: "\e168";}
.glyphicon-import:before{content: "\e169";}
.glyphicon-export:before{content: "\e170";}
.glyphicon-send:before{content: "\e171";}
.glyphicon-floppy-disk:before{content: "\e172";}
.glyphicon-floppy-saved:before{content: "\e173";}
.glyphicon-floppy-remove:before{content: "\e174";}
.glyphicon-floppy-save:before{content: "\e175";}
.glyphicon-floppy-open:before{content: "\e176";}
.glyphicon-credit-card:before{content: "\e177";}
.glyphicon-transfer:before{content: "\e178";}
.glyphicon-cutlery:before{content: "\e179";}
.glyphicon-header:before{content: "\e180";}
.glyphicon-compressed:before{content: "\e181";}
.glyphicon-earphone:before{content: "\e182";}
.glyphicon-phone-alt:before{content: "\e183";}
.glyphicon-tower:before{content: "\e184";}
.glyphicon-stats:before{content: "\e185";}
.glyphicon-sd-video:before{content: "\e186";}
.glyphicon-hd-video:before{content: "\e187";}
.glyphicon-subtitles:before{content: "\e188";}
.glyphicon-sound-stereo:before{content: "\e189";}
.glyphicon-sound-dolby:before{content: "\e190";}
.glyphicon-sound-5-1:before{content: "\e191";}
.glyphicon-sound-6-1:before{content: "\e192";}
.glyphicon-sound-7-1:before{content: "\e193";}
.glyphicon-copyright-mark:before{content: "\e194";}
.glyphicon-registration-mark:before{content: "\e195";}
.glyphicon-cloud-download:before{content: "\e197";}
.glyphicon-cloud-upload:before{content: "\e198";}
.glyphicon-tree-conifer:before{content: "\e199";}
.glyphicon-tree-deciduous:before{content: "\e200";}
.glyphicon-cd:before{content: "\e201";}
.glyphicon-save-file:before{content: "\e202";}
.glyphicon-open-file:before{content: "\e203";}
.glyphicon-level-up:before{content: "\e204";}
.glyphicon-copy:before{content: "\e205";}
.glyphicon-paste:before{content: "\e206";}
.glyphicon-alert:before{content: "\e209";}
.glyphicon-equalizer:before{content: "\e210";}
.glyphicon-king:before{content: "\e211";}
.glyphicon-queen:before{content: "\e212";}
.glyphicon-pawn:before{content: "\e213";}
.glyphicon-bishop:before{content: "\e214";}
.glyphicon-knight:before{content: "\e215";}
.glyphicon-baby-formula:before{content: "\e216";}
.glyphicon-tent:before{content: "\26fa";}
.glyphicon-blackboard:before{content: "\e218";}
.glyphicon-bed:before{content: "\e219";}
.glyphicon-apple:before{content: "\f8ff";}
.glyphicon-erase:before{content: "\e221";}
.glyphicon-hourglass:before{content: "\231b";}
.glyphicon-lamp:before{content: "\e223";}
.glyphicon-duplicate:before{content: "\e224";}
.glyphicon-piggy-bank:before{content: "\e225";}
.glyphicon-scissors:before{content: "\e226";}
.glyphicon-bitcoin:before{content: "\e227";}
.glyphicon-btc:before{content: "\e227";}
.glyphicon-xbt:before{content: "\e227";}
.glyphicon-yen:before{content: "\00a5";}
.glyphicon-jpy:before{content: "\00a5";}
.glyphicon-ruble:before{content: "\20bd";}
.glyphicon-rub:before{content: "\20bd";}
.glyphicon-scale:before{content: "\e230";}
.glyphicon-ice-lolly:before{content: "\e231";}
.glyphicon-ice-lolly-tasted:before{content: "\e232";}
.glyphicon-education:before{content: "\e233";}
.glyphicon-option-horizontal:before{content: "\e234";}
.glyphicon-option-vertical:before{content: "\e235";}
.glyphicon-menu-hamburger:before{content: "\e236";}
.glyphicon-modal-window:before{content: "\e237";}
.glyphicon-oil:before{content: "\e238";}
.glyphicon-grain:before{content: "\e239";}
.glyphicon-sunglasses:before{content: "\e240";}
.glyphicon-text-size:before{content: "\e241";}
.glyphicon-text-color:before{content: "\e242";}
.glyphicon-text-background:before{content: "\e243";}
.glyphicon-object-align-top:before{content: "\e244";}
.glyphicon-object-align-bottom:before{content: "\e245";}
.glyphicon-object-align-horizontal:before{content: "\e246";}
.glyphicon-object-align-left:before{content: "\e247";}
.glyphicon-object-align-vertical:before{content: "\e248";}
.glyphicon-object-align-right:before{content: "\e249";}
.glyphicon-triangle-right:before{content: "\e250";}
.glyphicon-triangle-left:before{content: "\e251";}
.glyphicon-triangle-bottom:before{content: "\e252";}
.glyphicon-triangle-top:before{content: "\e253";}
.glyphicon-console:before{content: "\e254";}
.glyphicon-superscript:before{content: "\e255";}
.glyphicon-subscript:before{content: "\e256";}
.glyphicon-menu-left:before{content: "\e257";}
.glyphicon-menu-right:before{content: "\e258";}
.glyphicon-menu-down:before{content: "\e259";}
.glyphicon-menu-up:before{content: "\e260";}

.think-editor-content{line-height:1.7em;font-size:1.14em;padding:2em;}
.think-editor-content a:hover{text-decoration: underline;}
.think-editor-content>:first-child{margin-top:0!important}
.think-editor-content>:last-child{margin-bottom:0!important}
.think-editor-content h1{font-size:2.25em;line-height:1.2}
.think-editor-content h2{padding-bottom:.3em;font-size:1.75em;line-height:1.225;border-bottom:1px solid #eee}
.think-editor-content h3{font-size:1.5em;line-height:1.43}
.think-editor-content h4{font-size:1.25em}
.think-editor-content h5{font-size:1em}
.think-editor-content h6{font-size:1em;color:#777}
.think-editor-content br{display:block;margin:.2em}
.think-editor-content hr{border:0;border-bottom:1px solid #ddd}
.think-editor-content ul{padding-left:28px}
.think-editor-content ol{padding-left:28px}
.think-editor-content h1,.think-editor-content h2,.think-editor-content h3,.think-editor-content h4,.think-editor-content h5,.think-editor-content h6,.think-editor-content p,.think-editor-content ul,.think-editor-content ol,.think-editor-content blockquote,.think-editor-content pre,.think-editor-content table{margin-bottom:12px}
.think-editor-content code{color: #c7254e;display:inline-block;border-radius:4px;padding:0 .4em;background-color:#f9f2f4;word-break:break-all;font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace;white-space:pre;line-height:1.3}
.think-editor-content pre{ padding: 16px; overflow: auto; font-size: 85%; line-height: 1.45; background-color: rgba(205, 206, 216, 0.32); border-radius: 0; font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace; border-left: 4px solid #AF9797;}
.think-editor-content pre>code{display:inline;max-width:100%;padding:0;margin:0;overflow:initial;line-height:inherit;background-color:transparent;border:0;font-size:100%}
.think-editor-content table{border-collapse:collapse;table-layout:fixed}
.think-editor-content th{text-align:left}
.think-editor-content th,.think-editor-content td{border:1px solid #E1E1E1;padding:3px 12px}
.think-editor-content tr:hover td{background-color:#f1f1f1}
.think-editor-content tr:first-child td:first-child{border-top-left-radius:3px}
.think-editor-content tr:first-child td:last-child{border-top-right-radius:3px}
.think-editor-content tr:last-child td:last-child{border-bottom-left-radius:3px}
.think-editor-content tr:last-child td:last-child{border-bottom-right-radius:3px}
.think-editor-content img{max-width:100%}
.think-editor-content table pre{margin-bottom:0}
.think-editor-content table p{margin:0}
.think-editor-content blockquote{ padding: 5px 5px 5px 15px; color: #A43636; border-left: 4px solid #ddd; background-color: rgb(244, 244, 244); font-size: 13px;}
.think-editor-content blockquote.info{border-left-color:#5bc0de;color:#5bc0de;background-color:#f4f8fa}
.think-editor-content blockquote.warning{background-color:#fcf8f2;border-color:#f0ad4e;color:#f0ad4e}
.think-editor-content blockquote.danger{color:#d9534f;background-color:#fdf7f7;border-color:#d9534f}
.think-editor-content blockquote.success{background-color:#f3f8f3;border-color:#50af51;color:#50af51}
.think-editor-content blockquote>:last-child{margin-bottom:0}
.think-editor-content .markdown-toc-list ul:only-child{padding-left:0;margin-bottom:0}
html pre.prettyprint{font-size:14px;position:relative;margin:6px 0 16px;padding:0 0 0 42px;background-color:#f9f9f9;display:block;word-wrap:break-word;word-break:break-all;border-radius:3px;border:1px solid #ddd}
html pre.prettyprint code{background-color:transparent;display:inline-block;height:100%;margin:0;padding:0 0 0 2px;vertical-align:top;white-space:pre-wrap;font-family:Consolas,"Liberation Mono",Courier,"微软雅黑"}
html pre.prettyprint ol{color:#2BA5D8;padding:6px;margin:0!important;border-left:1px solid #ddd;font-family:Consolas,"Liberation Mono",Courier,"微软雅黑"}
html pre.prettyprint ol li{padding-left:.5em}
html pre.prettyprint:hover .m-copy-code{visibility:visible;left:auto;right:0;top:0;z-index:10}

.treeview{margin-top: 5px;}
.treeview li.node-catalogtree{padding:8px 5px;}

#info_title{text-align: center;padding: 10px 0px;}
#divFrame{height:0px;}
/*#divcontent{border-top: 1px solid #E9E9E9;}*/
.u-tt{font-family:'microsoft yahei',sans-serif;}
/* 较小 */
.u-tt-sm{font-size:12px;}
/* 中等 */
.u-tt-md{font-size:14px;}
/* 较大 */
.u-tt-lg{font-size:16px;}
/* 很大 */
.u-tt-xl{font-size:18px;}
.g-hd .logo{float:left;width:140px;}
.g-hd .logo img{height: 37px; margin-left: 20px; margin-top: 7px;}
.g-hd .title{float:left;font:20px/2.4 normal , microsoft yahei;color:#EFEFEF;}