{% extends "./layout.html" %}

{% block import %}
<link rel="stylesheet" type="text/css" href="/static/m/css/bootstrap-treeview.css">
<link rel="stylesheet" type="text/css" href="/static/m/css/bootstrap-table.css">
<script src="/static/m/js/bootstrap-treeview.js"></script>
<script src="/static/m/js/bootstrap-table.min.js"></script>
{% endblock %}


{% block content %}
<div class="row">
	<div class="col-md-3" style="position: fixed;">
		<div class="btn-group btn-group-justified btn-group-raised">
		  <a href="javascript:void(0)" id="btnSpread2" class="btn ">2级</a>
		  <a href="javascript:void(0)" id="btnSpreadThis" class="btn ">THIS</a>
		  <a href="javascript:void(0)" id="btnSpreadNone" class="btn ">无</a>
		  <a href="javascript:void(0)" id="btnSpreadAll" class="btn ">全部</a>
		</div>
		<div id="tree" class="treeview"></div>
	</div>
	<div class="col-md-9" style="margin-left: 25%;">
		<div id="toolbar">
            <div class="form-group">
			  <label class="control-label" for="inputSmall">标题</label>
			  <input class="form-control input-sm" type="text" id="inputSmall">
			</div>
			<div class="btn-group">
		      <a href="bootstrap-elements.html" data-target="#" class="btn btn-raised dropdown-toggle" data-toggle="dropdown">
		        Dropdown
		        <span class="caret"></span>
		      </a>
		      <ul class="dropdown-menu">
		        <li><a href="javascript:void(0)">Dropdown link</a></li>
		        <li><a href="javascript:void(0)">Dropdown link</a></li>
		        <li><a href="javascript:void(0)">Dropdown link</a></li>
		      </ul>
		    </div>
        </div>
		<table id="table"
		 	data-classes="table table-no-bordered" 
		 	data-toolbar="#toolbar"
		 	data-pagination="true"
		 	data-toggle="table"
		 	data-side-pagination="server"
		 	data-detail-view="true"
		 	data-detail-formatter="format_detail"
		 	data-ajax="gridList">
            <thead>
            <tr>
                <th data-field="uid" data-formatter="format_uid">文章ID</th>
                <th data-field="title">文章标题</th>
                <th data-field="lasttime">最后修改时间</th>
                <th data-field="status" data-formatter="format_status">状态</th>
                <th data-field="" data-formatter="format_opt"></th>
            </tr>
            </thead>
        </table>
	</div>
</div>




<script type="text/javascript">
	var objTree 	= undefined ,
		objGrid 	= $('#table') ,
		objTreeList = undefined ,
		objGridList = undefined ;

	$(function () {
		$('[selectMode=article]').addClass('active');
		objTreeList = treeList();
		loadEvent();
	});

	/**
	 * 绑定一些按钮的事件
	 * @return {[type]} [description]
	 */
	function loadEvent(){
		$('#btnSpreadNone').click(function () {objTree.treeview('collapseAll', { silent: true }) });
		$('#btnSpread2').click(function () {objTree.treeview('expandAll', { levels: 1, silent: true }) });
		$('#btnSpreadAll').click(function () {objTree.treeview('expandAll'); });
		$('#btnSpreadThis').click(function () {
			objTree.treeview('expandNode' , [ objTreeList.getNodeId(), { levels: 5, silent: true } ]);
		})
	}

	function gridList(params){
		layer.load(1);
		setTimeout(function(){
			$.query('article/list' ,params.data,function(e){
				if(e.errno > 0){$.error(e.errmsg); return; }
				e = e.data ;
				layer.closeAll('loading');
				params.success({
		            total: e.count,
		            rows: e.data
		        });
			} ,'post');
		},50);
	}

	function format_uid(v){ return '<a href="/article/'+v+'" target="_blank">'+v+'</a>'; }
	function format_status(v){ return v=='0'?'草稿':(v=='1'?'已发布':'已下线'); }
	function format_detail(i ,r){
		var html = [];
        $.each(r, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
	}
	function format_opt(v ,r){
		return [
	        '<div class="pull-left">',
	        '<a class="like" href="javascript:void(0)" title="Like">',
	        '<i class="glyphicon glyphicon-heart"></i>',
	        '</a> ',
	        '<a class="remove" href="javascript:void(0)" title="Remove">',
	        '<i class="glyphicon glyphicon-remove"></i>',
	        '</a>',
	        '</div>'
		].join('');
	}

	function treeList(){
		var nodeId = 0;
		$.query('tree/list' ,null,function(e){
			if(e.errno > 0){console.error(e.errmsg); return; }
			objTree = $('#tree').treeview({
				data 			: e.data ,
				onNodeSelected     : function(e ,node){
					nodeId = node.nodeId;
				}
			});
			objGridList = gridList();
		} ,'post');
		return {
			getNodeId : function(){
				return nodeId;
			}
		}
	}
</script>
{% endblock %}